<html>
    <head>
        <title>Project 101</title>
        <link rel="stylesheet" href={{url_for("static",filename = "custom.css")}}>
    </head>
    <body>
        <div class="main_heaeding">
            <center><h1>ML CIA-1 LOGIN</h1></center>
        </div>
        <div class="rect">
            <form class="submission" action = "/main", method="POST">
                    <label for = "user">Username : </label>
                    <input type="text" name="user" placeholder="Enter Username"><br><br>
                    <label for = "passw">Password : </label>
                    <input type="password" name="passw" placeholder="Enter Password"><br><br>
                    <label for="submit" style = "color:red">{{message}}</label><br><br>
                    <input type="submit" name="submit" value="LogIn">
            </form>
        </div>
    </body>
</html>